body{
    background-color: black;
    color: white;
    display: flex;
    text-align: center;
    list-style-type: none;
    padding: 50px;
    justify-content: center; /*esse centraliza mesmo*/
    

}
li{
   margin-bottom: 30px;
    list-style-type: none;
    text-align: center;
    font-size: 50px; /*usa-se para alterar o tamanho da fonte*/
    color:wheat
    


}
a{
    text-decoration: none;
    margin-bottom: 50px;
}
a:hover{
    color: aliceblue;
}
i {
    font-size: 80px; /*padroniza os ícones*/
}
li{
    margin: 20px;
}